<div class="board">
    <div class="title">
        {{title}}
    </div>
    <mat-icon [ngClass]="{'locked': !isDirty, 'unlocked': isDirty}" [svgIcon]="isDirty ? 'lock_open' : 'lock'"
              (click)="lock()"></mat-icon>
    <div class="top-bar">
        <mat-card [ngClass]="{'unassigned-col': aid === 0, 'avenger-col': aid > 0}"
                  *ngFor="let avenger of avengers; let aid = index">
            <mat-card-content>{{avenger.name}} - {{getTaskCount(avenger)}}</mat-card-content>
        </mat-card>
    </div>
    <div class="category-container">
        <img id="dragImage" #dragImage src="assets/outline-file_copy-24px.svg">
        <div class="category" *ngFor="let category of avengers[0].categories">
            <ng-container
                    *ngFor="let avenger of avengers; let aid = index"
                    [attr.data-index]="aid">
                <ng-container *ngFor="let category of [avenger.categories[category.id]]">
                    <div [ngClass]="{'unassigned-col': aid === 0, 'assignment': true, 'droppable': true}"
                         id="{{aid}}-{{category.cd}}"
                         (drop)="drop($event)" (dragover)="allowDrop($event)"
                         [attr.data-aid]="aid">
                        <mat-card
                                [ngClass]="{ 'draggable': true, 'category-panel': true}"
                                [draggable]="true"
                                (dragstart)="dragCategory($event, category)"
                                [attr.data-aid]="aid"
                                [attr.data-categoryname]="category.name"
                                (click)="toggle($event, aid, category)">
                            <mat-card-title>
                                <span *ngIf="aid === 0">
                                {{category.name}} - {{category.tasks.length}}
                            </span>
                                <span *ngIf="aid > 0">
                                {{category.tasks.length}}
                            </span>
                            </mat-card-title>
                            <div [ngClass]="{ 'expand-image': !category.isExpanded, 'close-image': category.isExpanded}"></div>
                            <mat-card-content>
                                <div *ngIf="category.isExpanded">
                                    <mat-card *ngFor="let task of category.tasks; let taskId = index"
                                              [ngClass]="{'task': true, 'draggable': true, 'selected': task['selected']}"
                                              [draggable]="true"
                                              (dragstart)="dragTask($event, category, task)"
                                              [attr.data-aid]="aid"
                                              [attr.data-categoryname]="category.name"
                                              [attr.data-taskid]="taskId"
                                              (mouseup)="onMouseUpOverTask($event, category, task)"
                                    >
                                        <mat-card-content>{{task.name}}</mat-card-content>
                                    </mat-card>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>


</div>

